@charset "utf-8";

h2{
    color : white;
    background: skyblue;
    text-align: center;
    font-family: "Times New Roman";
}
img{
    width: 400px;
    height: 500px;
}
table{
    text-align: center;
    font-family: "Verdana";
    border: 2px solid #444444;
    border-collapse: collapse;
}

th, td{
    border: 1px soild #444444;
}