@charset "utf-8";

h1{
    color : white;
    background: skyblue;
    text-align: center;
    font-family: "Times New Roman";
}
a{
    color : plum;
    font-family: "Times New Roman"
}
img{
    width: 400px;
    height: 500px;
}
table{
    text-align: center;
    font-family: "Verdana";
    border: 1px solid #444444;
}

tr, td{
    border: 1px solid #444444;
}
